{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block heading %}{{ car.make }} {{ car.model }}{% endblock %}

{% block content %}

{% if car.photo %}
  <img src="{{ car.photo.url }}"
       alt="car photo"
       style="max-width:400px;width:100%;height:auto;object-fit:cover;border-radius:12px;"
       class="mb-3">
{% else %}
  <img src="{% static 'img/no-image.png' %}"
       alt="no image"
       style="max-width:400px;width:100%;height:auto;object-fit:cover;border-radius:12px;"
       class="mb-3">
{% endif %}

<ul>
  <li><b>{% trans "Owner:" %}</b> {{ car.client_name }}</li>
  <li><b>{% trans "License Plate:" %}</b> {{ car.license_plate }}</li>
  <li><b>{% trans "VIN Code:" %}</b> {{ car.vin_code }}</li>
</ul>

{% if car.description %}
<div class="mt-4">
  <h5>{% trans "Description:" %}</h5>
  <div class="card">
    <div class="card-body">
      {{ car.description | safe }}
    </div>
  </div>
</div>
{% endif %}

<a href="{% url 'autoservice:car-list' %}" class="mt-3 d-inline-block">← {% trans "Back to cars" %}</a>

{% endblock %}
