{% extends "base.html" %}
{% load static %}

{% block title %}Profilis{% endblock %}
{% block heading %}Mano profilis{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 text-center mb-4">
        {% if user.photo %}
            <img src="{{ user.photo.url }}" class="rounded-circle img-fluid mb-3" style="width: 200px; height: 200px; object-fit: cover;">
        {% else %}
            <img src="{% static 'img/undraw_profile.svg' %}" class="rounded-circle img-fluid mb-3" style="width: 200px; height: 200px; object-fit: cover;">
        {% endif %}
        <h4>{{ user.username }}</h4>
        <p class="text-muted">{{ user.email }}</p>
    </div>
    <div class="col-md-8">
        <h5 class="mb-3">Redaguoti profilį</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Išsaugoti pakeitimus</button>
        </form>
    </div>
</div>
{% endblock %}