{% extends "base.html" %}

{% block title %}Paieškos rezultatai{% endblock %}

{% block "content" %}
<h1>Užsakymai, rasti pagal paiešką "{{ query }}":</h1>
<br>
{% if orders %}
{% for order in orders %}
<p><a href="{url 'order' order.pk %}">{{ order }}</a></p>
{% endfor %}
{% else %}
<p>Nerasta užsakymų atitinkančių jūsų paiešką.</p>
{% endif %}
<h1>Automobiliai, rasti pagal paiešką "{{ query }}":</h1>
<br>
{% if cars %}
{% for car in cars %}
<p><a href="{url 'car' car.pk %}">{{ car }}</a></p>

{% endfor %}
{% else %}
<p>Nerasta automobilių atitinkančių jūsų paiešką.</p>
{% endif %}
{% endblock %}